
<nav aria-label="...">
  <ul class="pagination my-4 justify-content-center">
    <li class="page-item">
    {% if page.has_previous	%}
      <a class="page-link" href="?page={{page.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
      {% endif %}
    </li>
    
    {% for i in page.paginator.page_range %}
      {% if movies.number == i %}
    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
      {% else %}
     <li class="page-item" aria-current="page">
      <a class="page-link" href="?page={{ i }}">{{ i }}</a>
    </li>
      {% endif %}
    {% endfor %}
   
    {% if page.has_next %}
      <a class="page-link" href="?page={{page.next_page_number}}">Next</a>
      {% endif %}
    </li>
  </ul>
</nav>

